.wrapper{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.menu{
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap:1em;
}
.item button{
    color:var(--main-color)
}
:global .active button{
    color: var(--active-menu-fill)
}