.react-select__indicators {
    display: none !important;
}

.react-select__control {
    background: var(--main-background) !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

.react-select__single-value {
    fill: var(--main-fill) !important;
}

.react-select__value-container {
    padding: 0 !important;
}

.react-select__input {
    caret-color: transparent !important;
    cursor: pointer !important;
}

.react-select__menu {
    background: none !important;
    padding: 0 !important;
    fill: var(--main-fill) !important;
}

.react-select__option {
    padding: 0 !important;
}

.react-select__option:hover {
    background: none !important;
}

.react_select__menu {
    position: relative;
    background-color: var(--main-background) !important;
    box-shadow: none !important;
    outline: none !important;
    z-index: 9999;
}

.react-select__menu {
    background-color: var(--main-background) !important;
    border: none !important;
    margin: 0 !important;
    box-shadow: none !important;
    left: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .react-select__option {
    background-color: transparent !important;
  }
  
  .react-select__option--is-focused {
    background-color: transparent !important;
    cursor: pointer !important;
  }