
.sidebar{
    grid-area: n;
    max-width: 80px;
    min-width: 65px;
}
.sidebar_wrapper{
    max-width: 80px;
    min-width: 65px;
    position: fixed;
    display: flex;
    left: 0;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    background: var(--second-background);
}
.logo{
    max-width: 100%;
    max-height: 100%;
}
.nav nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}
.item{ 
    padding: 1vh 0px 3vh 0px ;
}
.sign_out{
    padding-bottom:3vh;
}

@media screen and (max-width: 768px){
    .sidebar{
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        max-height: 50px;
        min-height: 50px;
        min-width: 100%;
        max-width: 100%;
        background: var(--second-background);
        align-items: center
    }
    .sidebar_wrapper{
        min-height: 0;
        flex-direction: row;
        min-width: 100%;
        max-width: 100%;
    }
    .nav nav{
        flex-direction: row;
        padding-top: 0;
    }
    .item{
        padding: 0 1em 0 1em;
    }
    .logo{
        display: none;
    }
}