button{
    background: none;
    border: none;
}
.header{
    grid-area: h;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    grid-gap:.7em;
}
.logo{
    display: none;
    min-width: 30px;
    min-height: 30px;
}
.search_logo{
    display: flex;
    flex-direction: row;
    align-items:center;
    grid-gap:0.7em;
}
.search{
    background:var(--second-background);
    display: flex;
    border-radius: 12px;
}
.button{
    display: flex;
    flex-direction: column-reverse;
    padding: 0 .7em;
}
.form{
    display: flex;
    padding: .4em 2em .4em 0;
}
.input{
    background:none;
    color: var(--fourth-color);
    width: fit-content;
    width: 100%;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bell{
    margin: 0 1em;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
.ProfileImage{
    opacity: 0.9;
}



@media screen and (max-width: 768px){
    .logo{
    display: flex;
    flex-direction: row;
    align-items:center;
}
}
@media screen and (max-width: 576px){
    .form{
            display: flex;
            padding: 0.4em 0 0.4em 0;
    }
    
}

@media screen and (max-width: 360px){
    .button{
        padding: 0 .4em;
    }
    .bell{
        margin: 0 .4em;
    }
    .search_logo, .header_content{
        grid-gap: .4em;
    }
}