.button{
    padding: 0.8em 1.4em;
    background: var(--main-button-background);
    max-width: 100%;
    color: var(--main-button-color);
    border-radius: 9px;
}
.save{
    padding: 0.6em 2em;
}
.twice_purple, .twice_red{
    width: 45%;
}
.twice_red{
    background: var(--second-button-background);
}
.Follow{
    padding: 0.2em 1.5em;
    background: none;
    border: 1px solid #6F4FF2;
    color: var(--main-color)
}
.Unfollow{
    padding: 0.2em 1.5em;
    background: var(--second-button-background);
}