.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    max-width: 100%;
    

}
.bids{
    min-width: 290px;
    width: 25%;
}
.graphics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap:1.3%;
    justify-content: space-between;
}

.title {
    margin-bottom: 1em;
}

.cards {
    display: flex;
    flex-direction: column;
    height: 330px;
    min-width: 290px;
    justify-content: space-between;
}
.price{
    width: 42%;
}
.price_content svg{
    width: 100%;
}
.price_content {
    background: var(--second-background);
    padding: 25px;
    border-radius: 18px;
    height: 280px;
}
.statistics{
    width: 28%;
}
.statistics_content {
    display: flex;
    flex-direction: column;
    background: var(--second-background);
    padding: 5px 25px 15px 25px;
    border-radius: 18px;
    text-wrap: nowrap;
    align-items: center;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}
.data p{
    display: flex;
    align-items:center;
}
.data_cancel{
    margin-left: .8em;
}
.data span{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px #D0D0D0;
    margin-right: 10px;
}
.data_sold{
    background: #6F4FF2;
}
.dara_cancel{
    background:rgba(111,79,242,.1);
}

@media screen and (max-width: 1282px){
    .graphics{
        grid-gap: 4%;
        justify-content: normal;
    }
    .bids{
        width: 35%;
    }
    .price{
        width: auto;
    }
    .statistics{
        width: auto;
        margin-top: 3em;
    }
}
@media screen and (max-width: 1080px){
    .price{
        margin-top: 3em;
    }
    .bids{
        width: 100%;
    }
}
