.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 6vh;
    max-width: 100%;
}

.graphics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    margin-bottom: 2vh;
}

.cards {
    display: flex;
    flex-direction: column;
    height: 330px;
    min-width: 290px;
    justify-content: space-between;
}

.price_content {
    background: var(--second-background);
    padding: 25px;
    border-radius: 18px;
    height: 280px;
}

.statistics_content {
    display: flex;
    flex-direction: column;
    background: var(--second-background);
    padding: 10px 25px 20px 25px;
    border-radius: 18px;
    width: 300px;
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2vh;
}
.data p{
    display: flex;
    align-items:center;
}
.data span{
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 1px #D0D0D0;
    margin-right: 10px;
}
.data_sold{
    background: #6F4FF2;
}
.dara_cancel{
    background:rgba(111,79,242,.1);
}