.card{
    background: var(--second-background);
    max-width: 290px;
    border-radius: 18px;
    
}
.content{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}
.information{
    display: flex;
    flex-direction: row;
}
.img{
    display: flex;
    align-items: center;
    width: 55px;
    height: 55px;
    justify-content: center;
    border-radius: 50%;
}
.greenbg{
    background:#50BB25;
}
.redbg{
    background:#DC3546;
}
.purplebg{
    background:#6F4FF2;
}
.greencolor{
    color: #50BB25;
}
.redcolor{
    color:#DC3546;
}
.card img{
    max-width: 19px;
    max-height: 19px;
}
.text{
    margin-left: 20px;
}
.text p{
    color: var(--third-color)
}
