.active{
    background: #6F4FF2;
    border-radius: 14px;
    color: #FFF;
}
.item{
    padding: 0 0.5vw;
}
.nft{
    background:var(--second-background);
    border-radius: 18px;
    width: 22%;
    margin: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    height: max-content;
}
.content{
    padding: 1em;
    max-width: 100%;
}
.content img{
    border-radius: 18px;
    min-height: 187px;
}
.text{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.information{
    margin-top: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}
.bid{
    text-align: right;
}
.minimum_bid{
    color: var(--second-color)
}
.current_bid{
    color: var(--third-color);
    font-size: 16px;
}
.auction_time{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.time{
    color:var(--third-color)
}
@media screen and (max-width: 1280px){
    .nft{
        width: 30%;
    }
}
@media screen and (max-width: 992px){
    .nft{
        width: 47.5%;
    }
}
@media screen and (max-width: 576px){
    .nft{
        width: 90%;
    }
}
@media screen and (max-width: 360px){
    .nft{
        width: 95%;
    }
    .content{
        padding: .7em ;
    }
}