.wrapper{
    display: flex;
    flex-direction: row;
}
.label {
    display: block;
    padding: .1em .7em;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius:14px;
  }
  
  .label.selected {
    background: var(--main-button-background);
    color: var(--main-button-color);
  }
  
  .input {
    display: none;
  }