.wrapper{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3em;
}
.title{
    display: flex;
    flex-direction: column;
}
.path p{
    display: flex;
    align-items: center;
}
.text{
    color: var(--third-color);
}
.icon{
    margin: 0 .2em;
    font-size: 20px;
    height: 27px;
    color:var(--main-fill);
}
.button{
    opacity: 1;
    position: relative;
}
.button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--third-color);
    transition: width 0.3s ease;
  }
  
  .button:hover::after {
    width: 100%;
  }