.wrapper{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2em;
}
.title{
    display: flex;
    flex-direction: column;
}
.path p{
    display: flex;
    align-items: center;
}
.text{
    color: var(--third-color);
}
.icon{
    margin: 0 .2em;
    font-size: 20px;
    height: 27px;
    color:var(--main-fill);
}