.wrapper{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.25em;
}
.content{
    display: flex;
    flex-direction: row;
}

.img{
    max-width: 43px;
}
.information{
    margin-left: 1em;
    text-wrap:wrap;
}
.time{
    text-wrap: nowrap;
    color:var(--fourth-color)
}
@media screen and (max-width: 1280px){
    .wrapper{
        padding: 1em;
    }
}
@media screen and (max-width: 360px){
    .wrapper{
        padding: .5em;
    }
    .information{
        margin-left: .5em;
    }
}