.wrapper{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.title button{
    color: var(--second-color);
    cursor: pointer;
}
.block{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 2em;
    border-radius: 18px;
    background: var(--second-background);
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.item{
    border-bottom: solid 0.3px #D6DBDE;
}
.item:last-child{
    border-bottom: none;
}
@media screen and (max-width: 1280px){
    .wrapper{
        width: 100%;
    }

}