.wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 100%;
}
.content{
    margin-top: 2vh;
}
.item{
    background:var(--second-background);
    border-radius: 18px;
    margin-bottom: 20px;
}
.last{
    margin-bottom: 0px;
}
.bid_title{
    max-width: 100%;
    border-bottom: 0.3px solid #6C7AA0;
    margin: 4vh 0;
}