
.wrapper{
    padding: 8px 25px 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    max-height: 60px;
    width: 96.5%;
}
.real_checkbox, .real_checkbox_title{
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.custom_checkbox, .custom_checkbox_title{
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 2px;
    background: var(--checkbox-background);
    border: 1px solid #A5A5A5;
}
:root{
    .custom_checkbox::before{
    content:'';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url(../../../icons/black_mark.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) scale(0);
    transition: .2s ease-in ;
    margin-top: 1px;
}
}

.real_checkbox:checked + .custom_checkbox::before{
    transform:translate(-50%,-50%) scale(1);
}
.checkbox{
    width: 6.7%;
    min-width: 71px;
}
.item_bid{
    min-width: 280px;
    width: 23.8%;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.item img{
    border-radius: 19px;
    max-width: 65px;
    max-height: 44px;
}
.item_information{
    margin-left:10px;
}
.open_price{
    min-width: 169px;
    width: 14.7%;
}
.your_offer{
    min-width: 156px;
    width: 14%;
}
.recent_offer{
    min-width: 219px;
    display: flex;
    flex-direction: row;
    width: 18%;
    align-items:center;
}
.recent_offer img{
    max-width: 43px;
    border-radius:50%;
}
.recent_information{
    margin-left: 10px;
}
.time{
    min-width: 197px;
    width: 22%;
}
.delete{
    min-width: 18px;
    width: 1.5%;
    display: flex;
    flex-direction: column;
    align-items:center
}
.cross{
    display: inline-block;
    background:var(--main-color);
    width: 14px;
    height: 3px;
    border-radius: 1px;
    transform: rotate(50deg);
}
.cross::before{
    content:"";
    position: absolute;
    background: var(--main-color);
    display: inline-block;
    width: 14px;
    height: 3px;
    border-radius: 1px;
    transform: rotate(260deg);
    top: 0px;
    left: 0px;
}
.wrapper th{
    text-align: left;
    white-space: nowrap;
}
.wrapper td{
    white-space: nowrap;
}
.bids_title{
    border-bottom: solid 1px #6C7AA0;
    margin-bottom: 30px;
}
.item{
    background:var(--second-background);
    border-radius: 18px;
    margin-bottom: 20px;
    padding-right: 25px;
}