.discover{
    background: url(../../../icons/discover.jpg) no-repeat;
    max-width: 595px;
    width: 49%;
    border-radius: 21px;
    color: #FFF;
}
.content{
    background: rgba(111, 79, 242, 0.50);
    padding: 10px 10px 10px 1vw;
    max-width: 100%;
    min-height: 207px;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.discover h2{
    max-width: 60%;
}
.discover p{
    opacity: 50%;
}
.buttons{
    display: flex;
    flex-direction: row;
    max-width: 50%;
    justify-content: space-between
}
