@font-face {
  font-family: "Poppins-Regular";
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url(./fonts/Poppins-SemiBold.ttf);
}

  *{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Poppins-Regular";
  }
  li{
    list-style-type:none;
  }
  h1,h2,h3,h4,h5,h6{
    font-family: "Poppins-SemiBold";
  }
  P{
    font-size: 14px;
  }
  body{
    color: var(--main-color);
    background: var(--main-background);
  }
  /* начальный глобальный параметр */
  
  :root{ 
    --main-color: #FFFFFF;
    --second-color: #6F4FF2;
    --third-color: #6C7AA0;
    --fourth-color: #68676E;
    --main-background:#131129;
    --second-background: #1D1932;
    --checkbox-background:#C4C4C4;
  }
  
  
  /* параметр для лайт темы */
  [data-theme="light"]{
    --checkbox-background:none;
    --main-color:#000000;
    --main-background:#F2F2F2;
    --second-background: #FFFFFF;
  }