.wrapper{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: var(--second-background);
    align-items: center;
    border-radius: 18px;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: row;
}
.information{
    margin-left: 16%;
    display: flex;
    flex-direction: column;
}