.wrapper{
    display: flex;
    flex-direction: column;
    width: 56%;

}
.content{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content ul{
    margin-top: 1em;
    width: 47%;
    display: flex;
    flex-direction: column;
    height: 388px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.content ul li{
    width: 100%;
}
@media screen and (max-width: 1280px){
    .wrapper{
        margin-top: 2em;
        width: 100%;
    }
    
}
@media screen and (max-width: 920px){
    .content ul{
        width: 100%;
    }
}

