.container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    background:var(--second-background);
    max-width:595px;
    min-height: 195px;
    border-radius: 18px;
    padding: 1em 1.5em 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.img{
    max-width: 100%;
    height: auto;
    border-radius: 23px;

}

.nft{
    padding-right: 1vw;

}
.text{
    max-width: 100%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.profile{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.avatar{
    max-width: 43px;
    max-height: 43px;
    width: auto;
    height: auto;
}
.profile_text{
    padding: 0px 1vw;
}
.online{
    background: #50BA23; 
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.token{
    display: flex;
    flex-direction: column;
}
.token_information{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.bid{
    text-align: right;
}
.second_color{
    color: var(--second-color);
}
.third_color{
    font-size: 16px;
    color: var(--third-color)
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1280px){
    .container{
        margin-top: 2em;
    }
}
@media screen and (max-width: 560px){
    .nft{
        text-align: center;
        padding-right: 0;
        padding-bottom: 1em;
    }
    .container{
        width: 100%;
    }
    .content{
        flex-direction: column;
        max-height: 100%;
        align-items:normal
    }
}